/* Global */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, {
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

h1 {
    color: #5D6D7E;
}

h2 {
    color: #4ABDAC;
}

blockquote {
    color: #5D6D7E;
}

body {
    font-size: 16px;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    margin-top: 30px;
}

.btn {
    color: white;
    background-color: #E67E22;
    border-color: #D0D3D4;
    margin: 20px;
}

.pagination .pagination-lg {
    text-align: center;
}


/*header title*/


/* slider */

input[type=range] {
    -webkit-appearance: slider-vertical;
    -webkit-tap-highlight-color: red;
    height: 600px;
    color: red;
    background-color: red;
    -webkit-slider-thumb: red;
}


/* Page 6 Ladder image */

#ladder {
    background-color: #5D6D7E;
    padding: 15px;
}
