/*GLOBAL*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, {
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

h1 {
    color: #5D6D7E;
}

h2 {
    font-size: 20px;
    color: #4ABDAC;
}

h3 {
    font-size: 18px;
    color: #E67E22;
    text-decoration: underline;
}

body {
    font-size: 16px;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    margin-top: 30px;
}

.btn {
    color: white;
    background-color: #E67E22;
    border-color: #D0D3D4;
    margin: 20px;
}


/*page specific*/

img {
    max-width: 300px;
}
